<ul>
  <li><a class="<%= path === '/users-list' ? 'active' : ''%>" href="/users-list">H o m e</a></li>
  <li><a class="<%= path === '/create-user' ? 'active' : ''%>" href="/create-user">S i g n  U p</a></li>
</ul>